<h1 class="title">{{ 'pages.page_not_found.title' | translate }}</h1>
<h3 class="subtitle" [translate]="locale['sub_title']"></h3>
<p translate>pages.page_not_found.description</p>


<div class="field">
  <div class="control">
    <input class="input" type="text" placeholder="Input">
  </div>
</div>

<div class="field">
  <p class="control">
    <span class="select">
      <select>
        <option>Select dropdown option. </option>
      </select>
    </span>
  </p>
</div>

<div class="buttons">
  <a class="button is-primary">Primary</a>
  <a class="button is-link">Link</a>
</div>

<pre *ngIf="rubyCode"><code class="language-ruby">
{{rubyCode}}
</code></pre>